@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    border: ;
}
header{
    max-width: 1920px;
    margin: auto;
    width: 100%;
    height: 15vh ;
    display: flex;
    justify-content: space-around;
}
.menuCompacto{
    display: none;
}
    
.menu{
    display: flex;
    justify-content: space-evenly;
    width:100%;
    align-items: center;
}

.menu p{
    font-weight: bold;
    font-size: 3.8vh;
    position: relative;
    right: 15%;
}
nav{
    width: 30%;
    display: flex;
    position: relative;
    left: 15%;
}
ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-weight:lighter;
    font-size: 2,5vh;
    color:#707070;
    
}
li{
     width: 15%;
     
}
li:hover{
    font-weight: bold;
    color:#000000;
    cursor:pointer;
}


@media (max-width:600px){
    header{
        width: 100%;
        height: 8vh;
        display: flex;
        align-items: center;
    }
    .menu nav {
        display: none;
    }
    .menuCompacto{
        display:initial;
        width: 25vw;
        height: 8vh;
        display: flex;
        align-items: center;
        background-color:#231f20;
    }
    header img{
       width: 35px;
       height: 27px; 
       margin-left: 35px;
    }
    
    
}

/*Aqui começa a estilização da main*/

.laranjaAzul{
    width: 100%;
    height: 85vh;
    background-image:url(imagens/laranjaazul.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 9.48vh;
    color:#ffffff;
    font-weight: bolder;
    position: absolute;
    left: 8%;
}
main p{
    font-size: 3vh;
    color:#ffffff;
    font-weight: lighter;
    position: absolute;
    left: 9.5%;
    bottom:20%;
}
.photos{
    width: 80%;
    height: 125vh;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top: 3%;
    margin-left: 8%;
}
.photos img{
    width: 250px;
    height: 250px;
}

@media(max-width:600px){
    h1 {
        left: 20%;
    }

}

/*Aqui começa a estilização do footer*/
footer{
    width: 80%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 9%;
    border: solid;
}
.contatos{
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.contatos img{
    width: 22px;
}